<div class="how-it-works-section">
    <div class="tagline">
        <h1>How does it work?</h1>
    </div>
    <div class="steps-container two-column-grid">
        <div class="step-box">
            <div class="step">
                <p>Log in to Musi-Nova</p>
            </div>
        </div>
        <div class="step-box-empty"></div>
        <div class="step-box-empty"></div>
        <div class="step-box">
            <div class="step">
                <p>Launch a campaign on your Musi-Nova dashboard</p>
                
            </div>
        </div>
        
        <div class="step-box">
            <div class="step">
                <p>Add the link to the playlist you created. Our system will analyse
                    your playlist and send the feedback</p>
            </div>
        </div>
        <div class="step-box-empty"></div>
        <div class="step-box-empty"></div>
        <div class="step-box">
            <div class="step">
                <p>Improve your playlist based on the feedback and use the tools
                that we provide to create a stunning playlist’s cover</p>
            </div>
        </div>
        <div class="step-box">
            <div class="step">
                <p>Decide how much you want to spend on promotion and for how many
                    days</p>
            </div>
        </div>
        <div class="step-box-empty"></div>
        <div class="step-box-empty"></div>
        <div class="step-box">
            <div class="step">
                <p>Within 24 hours, we will create your ad and start the promotion
                    (during the working days)</p>
            </div>
        </div>
        <div class="step-box">
            <div class="step">
                <p>Check the results of the promotion at your Musi-Nova dashboard</p>
            </div>
        </div>
    </div>
    <div class="tagline">
        <h1>See how your followers and listeners grow!</h1>
    </div>
    <div class="button-row">
        <button [routerLink]="['/register']">Try now</button>
    </div>
</div>