<header>
    <div class="logo-container">
        <a [routerLink]="['/']">
            <img src="logo.png" alt="Logo" />
        </a>
    </div>
    <nav class="nav-links">
        <ul class="links-container">
            <!-- <li><a [routerLink]="['/login']">Contact us</a></li> -->
            <li><a [routerLink]="['/playlist-checker']">Playlist Checker</a></li>
            <li class="outline-button"><a [routerLink]="['/login']">Log in</a></li>
            <li class="bold-button"><a [routerLink]="['/register']">Try for free</a></li>
        </ul>
    </nav>
    <div class="hamburger-menu" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
</header>