<header>
    <div class="logo-container">
        <a [routerLink]="['/']">
            <img src="logo.png" alt="Logo" />
        </a>
    </div>
    <div class="links-container">
        <ul class="nav-list">
            <li><a [routerLink]="['/login']">See demo</a></li>
            <li><a [routerLink]="['/login']">Pricing</a></li>
            <li><a [routerLink]="['/login']">Contact us</a></li>
            <li><a [routerLink]="['/login']">Blog</a></li>
            <li class="outline-button"><a [routerLink]="['/login']">Log in</a></li>
            <li class="bold-button"><a [routerLink]="['/register']">Try for free</a></li>
        </ul>
    </div>
</header>