<div class="tagline">
    <h5>
        Created for artists-by artists
    </h5>
    <h1>
        Are you tired of pitching your music to playlists that have low streams
        or fake listeners?
    </h1>
</div>

<div class="image-row">
    <div class="image-plus-description">
        <img
            src="https://images.pexels.com/photos/1407322/pexels-photo-1407322.jpeg?auto=compress&cs=tinysrgb&w=200&h=50&dpr=2"
            alt="Guitar" />
        <p>Getting on playlist with zero streams?</p>
    </div>
    <div class="image-plus-description">
        <img
            src="https://images.pexels.com/photos/860707/pexels-photo-860707.jpeg?auto=compress&cs=tinysrgb&w=200&h=50&dpr=2"
            alt="Dj" />
        <p>Pitching to 30 Spotify curators and get into 2 playlists?</p>
    </div>
    <div class="image-plus-description">
        <img
            src="https://images.pexels.com/photos/210907/pexels-photo-210907.jpeg?auto=compress&cs=tinysrgb&w=200&h=50&dpr=2"
            alt="Dj" />
        <p>Spending money without growing a real audience?</p>
    </div>
</div>