<div class="container">
    <div>
      <div class="content">
        <h2>Free</h2>
        <span>
            <ul>
                <li>Offering 1</li>
                <li>Offering 2</li>
                <li>Offering 3</li>
            </ul>
        </span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Plan 1</h2>
        <span>
            <ul>
                <li>Offering 1</li>
                <li>Offering 2</li>
                <li>Offering 3</li>
            </ul>
        </span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Plan 2</h2>
        <span>
            <ul>
                <li>Offering 1</li>
                <li>Offering 2</li>
                <li>Offering 3</li>
            </ul>
        </span>
      </div>
    </div>
  </div>