<div class="bold-block">
    <div class="tagline">
        <h1>
            Promoting your own playlist with us has a big impact for your
            audience
        </h1>
    </div>
    <div class="corner-paragraphs">
        <div class="corner top-left">
            <h2>Your playlist</h2>
            <p>We promote your playlist so you can feature as many of your songs
                as you like</p>
        </div>
        <div class="corner bottom-left">
            <h2>Your budget</h2>
            <p>You decide how much money you put in your playlist so you can
                easily adjust it based on your needs</p>
        </div>
        <div class="corner top-right">
            <h2>Your content</h2>
            <p>You decide the content of your playlist. If you feature similar
                artists to you on there, Spotify algorithm
                will boost your music</p>
        </div>
        <div class="corner bottom-right">
            <h2>Your audience</h2>
            <p>With your own playlist you collect people that like your music,
                this way you slowly build a dedicated
                audience</p>
        </div>
        <div class="button-row">
            <button [routerLink]="['/register']">Try now</button>
        </div>
    </div>
    <div class="chart-section">
        <app-chart-config [activeButton]="activeButton"></app-chart-config>
    </div>
</div>